#image-edit-page {
    .container-images {
        .thumbnail {
        	img {
        		max-height: 300px;
        	}
        }
        .category-container {
        	margin-left: 45px;
        }
        .list-image-container {
        	margin-left: 30px;
        }
        .btn-update {
        	margin-left: 30px;
        }
    }
    .btn-back {
    	margin-left: 0px;
    }
}