#add_user_page .area-btn-submit .btn-submit-add {
  margin-top: 50px; }

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important; }

#image-edit-page .container-images .thumbnail img {
  max-height: 300px; }

#image-edit-page .container-images .category-container {
  margin-left: 45px; }

#image-edit-page .container-images .list-image-container {
  margin-left: 30px; }

#image-edit-page .container-images .btn-update {
  margin-left: 30px; }

#image-edit-page .btn-back {
  margin-left: 0px; }
