.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.show {
  display: block; }

#contain-page {
  padding: 0px; }
  #contain-page .navbar {
    border-radius: 0px;
    border: none;
    background: #fff; }
  #contain-page .header .collapse ul.nav li.title-menu a {
    color: #286090; }
  #contain-page .header .collapse ul.nav li.title-menu a:hover {
    color: #CC181E; }
  #contain-page .logo {
    margin: 0 auto;
    display: table; }

.contain-main .fileUpload {
  position: relative;
  overflow: hidden;
  padding-left: 0px; }
  .contain-main .fileUpload input.upload {
    cursor: pointer;
    font-size: 25px;
    height: 100%;
    left: -2px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }

.contain-main .click-requirement .btn {
  background: #fff !important; }

.contain-main .click-payment .btn-background {
  background: #fff !important; }

.contain-main .upload-result {
  margin-bottom: 35px; }
  .contain-main .upload-result .single-image {
    height: 100px;
    width: 100px; }
