#contain-page {
    padding: 0px;
    .navbar {
        border-radius: 0px;
        border: none;
        background: #fff;
    }
    .header {
        .collapse {
            ul.nav {
                li.title-menu {
                    a {
                        color: #286090;
                    }
                    a:hover {
                        color: #CC181E;
                    }
                }
            }
        }
    }
    .logo {
        margin: 0 auto;
        display: table;
    }
}