.contain-main {
    .fileUpload {
        position: relative;
        overflow: hidden;
        padding-left: 0px;
        input.upload {
            cursor: pointer;
            font-size: 25px;
            height: 100%;
            left: -2px;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
    .upload-ajax {
        
    }
    .click-requirement .btn {
        background: #fff !important;
    }
    .click-payment .btn-background {
        background: #fff !important;
    }
    .upload-result {
        margin-bottom: 35px;
        .single-image {
            height: 100px; 
            width: 100px; 
        }
    }
}